<div class="text-danger">
    @{
        Layout = "../Shared/_LayoutLogin.cshtml";
        <h2>Parabéns sua conta foi cadastrada com Sucesso! Clique <a href="../Usuario/Login"> aqui para ir para o inicio</a></h2>
    }
</div>

